@model orocoche_v2.Models.TipoCoche

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoCoche</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreTipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdTipoCoche }) |
    @Html.ActionLink("Back to List", "Index")
</p>
