@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Buenos Dias</h1>
        <p class="lead">Estás buscando un coche? Aqui abajo lo encontrarás:</p>
        

</div>


<div class="row">
    <div class="col-md-12">
        <h2>Bienvenido a la página de gestión de reservas de OroCoche</h2>
        <p>en esta pagina puedes consultar los modelos disponibles y a las sedes</p>
        <p><a class="btn btn-default" href="../../Modelos/Index">Consultar Vehículos</a></p>
    </div>
</div>